
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo{
  width: 80px;
  border-radius: 50%;
}

.hoverimage:hover{
  transform: scale(0.9);
  width: 300px;
  transition: all 500ms;
}

.wishlist{
  display: flex;
  gap: 300px;
}